{
  "plugins": ["@typescript-eslint"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prefer-const": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
